@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

body, html {
  height: 100%;
  margin: 0;
}

/* navbar */
.navbar {
  background-color: #1A1441;
}

/* navbar links */
.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #FEE247;
  font-weight: bold;
}

/* navbar hamburger */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254,226,71, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler:hover {
  color: #FEE247;
  border-color: #FEE247;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0rem;
}

@media screen and (max-width: 845px) {
  .navbar-brand .logo {
    width: 175;
    height: 100px;
  }
}
@media screen and (min-width: 846px) {
  .navbar-brand .logo {
    width: 350;
    height: 200px;
  }
}

/* Footer */
.footer {
  /* margin-top: 3rem; */
  padding: 1rem;
  background-color: #1A1441;
  color: white;
  bottom: 0;
  /* position: fixed; */
  left: 0;
  width: 100%;
}
.footer a {
  color: white;
  font-weight: bold;
}

/* Home Page */
.home-page {
  /* background-color: aqua; */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.info-card-stack {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.custom-card {
  width: 20rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;;
}

@media screen and (max-width: 1000px) {
  .custom-card {
    width: 100%;
  }
}

.card-title {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: .5rem;
  font-family: Fugaz One;
  font-size: 25px;
  color: #3E4D5C;
}

.infocard-img {
  padding-top: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.large-card-stack {
  padding-top: 5rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  background-color: white;
}

.lcs-row {
  margin-bottom: 3rem;
}

.lcs-col {
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

@media screen and (max-width: 1190px) {
  .lcs-col {
    width: 100%;
  }
}

.lcs-img {
  padding-bottom: 3rem;
}

.lcs-text {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
